<ion-view>
        <ion-content>
            <img src="img/Capgemini-Logo.png" class="center" alt="" width="75%" height="100px">
            <div class="signIn-txt">
                <span class="signIn-fsTxt">Financial Services</span><br>
                Strategic Business Unit <br>
                Chief Technology Office <br>
                Network Blog
            </div>
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Username</span>
              <input type="text" ng-model="user.username">
            </label>
            <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="password" ng-model="user.password">
            </label>
          </div>
          <div class="padding">
            <button class="button button-block button-positive" ng-click="signIn(user)">
              Sign-In
            </button>
              <button class="button button-block button-positive">
              Sign-Up
            </button>
            <p class="text-center">
              <a href="#/forgot-password">Forgot password</a>
            </p>
          </div>
        </ion-content>
</ion-view>