<ion-item class="item-avatar item-icon-right" style="padding-left:3px; padding-right:3px" >
    <img ng-src="{{categories.imageURL}}" style="top: 10px;">
    <div class="item-text-center item-text-wrap" style="padding-left:72px;" >{{categories.name}}</div>
    <br/>
    <content has-header="true" has-subheader="true">
        
            <item ng-repeat="category in categories.category" type="item-text-wrap" href="#/category" ng-click="selectCategory(category)">
          <div ng-show= '$index == 0'>
            <div style="position:relative;">
                <img class="item-text-center item-text-wrap" width="100%" height="60" ng-src="{{category.imageURL}}">
                <p style="position:absolute; z-index: 5; color: white; top: 2px;">{{category.name}}</p>
            </div>
            </div>
            <div ng-show ='$index > 0'> 
            <div style="position:relative; width:50%; clear:none;display:block;float:left;">
                <img class="item-text-center item-text-wrap" width="100%" height="60" ng-src="{{category.imageURL}}">
                <p style="position:absolute; z-index: 5; color: white; top: 2px;">{{category.name}}</p>
            </div>
            </div>
                <!--  <ion-view> 
                    <div ng-include src="'newTemplate/subCategory.html'"></div>
                </ion-view> -->
                               
            </item>

        
    </content>
</ion-item>