<div class="bar bar-subheader">
    <h3 style="width:60%;height:30px; margin-top: 1px;"> <i class="icon ion-ios-compose-outline"></i> Write a post </h3>
</div>


<div class="item" style="padding-top:100px;padding-left:10px; padding-right:10px;">

    <label class="item item-input">
                <input type="text" placeholder="Title">
    </label>

  <br>
    <label class="item item-input">
                <textarea placeholder="Body" style="height: 150px; padding-left: 5px; padding-top:5px; padding-bottom: 3px; width:100%"></textarea>
    </label>
    <br>
    <label class="item item-input">
                <input type="text" placeholder="label">
    </label>

    <div class="row">
        <div class="col text-left"> <button class="button button-positive"> Browser File </button></div>
        <div class="col text-right"> <button class="button button-positive"> Upload </button> </div>
    </div>
    <br>
    <label class="item item-input item-select">
       <select ng-repeat="category in categories.category">
      <option>{{category.name}}</option> 
    </select>
  </label>
  <br>
  <div class="row"> 
    <div class="list" ng-repeat="category in categories.category">
        <p>{{category.name}}</p>
  </div>
  </div>

  <div class="row">  <div class="col text-right">
                    <button class="button button-positive">
                      Publish
                    </button>
                </div>
            </div>

</div>